
<div class="contenedor"><!-- flex container -->

  <div class="box">
    <form (ngSubmit)="auth(formulario)" #formulario="ngForm" novalidate>
        <input type="text"
               class="form-control"
               name="username"
               minlength="3"
               ngModel="username">

        <input type="password"
              class="form-control"
              name="password"
              ngModel="password">

        <button class="btn btn-success" (click)="auth()">Login</button>
    </form>
    
  </div>

</div>