<app-loading *ngIf="showLoading">
</app-loading>

<div class="row">
    <div class="col-md-12 home--welcome__container">
        <img src="../../../../assets/img/spoti-logo.png" class="home--welcome__img" width="30" height="30" alt="">
        <h2 class="home--welcome__text ">NEW RELEASES</h2>
    </div>
</div>

<div class="card-columns m-top--20">
    <card *ngFor="let artist of newReleases" [artist]="artist" [isrelease]="false"></card>
</div>


<div class="d-flex--column">
    <span>prueba columnas</span><span>Prueba columnas</span>
</div>
