<div class="container">

    <div class="row">
        <div class="col-md-8 form group">
            <input #termino type="text" (keyup)="onSearch(termino.value)" class="form-control" placeholder="Buscar artista">
        </div>
    </div>

   <div class="row">
       <div class="col">
        <app-loading class="m-5" *ngIf="showLoading"></app-loading>
       </div>
   </div>


     <div class="row m-5" *ngIf="!showLoading">
        <div class="col-md-12 form-group">
           <card *ngFor="let result of artists" [artist]="result"></card>
        </div>
    </div>
 

</div>