<div class="container">
    <div class="row">
        <div class="col-md-12 home--welcome__container">
            <img src="../../../../assets/img/spoti-logo.png" class="home--welcome__img" width="30" height="30" alt="">
            <h2 class="home--welcome__text ">Buscador de artistas</h2>
        </div>
    </div>

    <div class="row m-top--20">
        <div class="col-md-8 form group">
            <label>Ingrese el nombre de un artista...</label>
            <input #termino 
                   type="text" 
                   (keyup)="onSearch(termino.value)"
                   class="form-control" 
                   placeholder="Buscar artista">
        </div>
    </div>

   <div class="row">
       <div class="col">
        <app-loading class="m-5" 
                     *ngIf="showLoading"
                     [mensaje]="'Cargando...'"></app-loading>
       </div>
   </div>


     <div class="row m-5" *ngIf="!showLoading">
        <div class="col-md-12 form-group card-columns">
           <card *ngFor="let result of artists" [artist]="result"></card>
        </div>
    </div>
 

</div>